.hr{
    height: .2px;
    width: 110%;
    background-color: rgba(0, 0, 0, 0.588);
}
.filteritems{
    display: flex;
    align-items: center;
    justify-content: space-around;
margin-bottom:12px;
}
.filterbar{
    padding: 19px 65px;
}